*{
    margin: 0;
    padding: 0;
}
.container{
display: flex;
justify-content:center;
align-items: center;
box-shadow: 0px 0px 10px 2px #ccc;
height: 450px;
width: 400px;
margin: auto;
}
h1{
    margin-bottom: 10px;
    text-align: center;
}
form{
display: flex;
justify-content: space-around;
flex-direction: column;
}
.text{
    font-size: 20px;
    margin-bottom: 5px;
}
form input{
    width: 300px;
    height: 30px;
    border: 1px solid;
    padding-left: 10px;
    
}
button{
    padding: 10px 25px;
    border: none;
    background-color: aqua;
    cursor: pointer;
}
.main{
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.item{
    flex-basis: 18%;
    margin: 1%;
    box-shadow: 0px 0px 10px 2px gray;
    padding: 10px 5px;
}